html, body{
    margin: 0; 
    height: 100%;
}

body{
    background-image: url("img/MagicBG2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    background-attachment: fixed;
    overflow-y: auto;
    
}

.Welcome{
    color: white;
    font-size: 90px;
    text-align: center;
    white-space: nowrap;
    padding-top: 10px
}

.logo4{
    display: flex;
    justify-content: center;
    width:300px;
    height: 300px;
}
.logo{
    display: block;
}
.nom{
    color: white;
    font-size: 70px;
    text-align: center;
}

#link{
    color: blue;
}

#footer{
    padding: 20px;
    margin-left: 20%;
    font-size: 20px;
    color: white;
}

#footer1{
    background-color: #212529;
}
/*
main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.prince1{
    font-size: 50px;
    color: white;
    padding-top: 30px;
    background-color: #212529;
}
.prince2{
    color: white;
    text-align: center;
    font-size: 50px;
}


header {
  display: flex;
  justify-content: space-between; /* espace entre le h1 et le nav */
  align-items: center;           /* alignement vertical centré */
  padding: 10px 20px;           /* optionnel : espace interne */
  background-color: #212529;    /* juste pour voir le header */
}

header a{
    color: white;
    text-decoration: none;
}
#a1{
    margin-right: 200px;
}

#navlink a{
    color: white;
    font-size: 30px;
    justify-content: space-between;
    margin-right: 10px;
    padding-top: 5px;
}
#navlink{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.my-card{
    min-width: 300px;
}

.cards-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4
    , 1fr);
}

.shop{
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
}